* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagenes/01.jpg);
}
.estilo-nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: #24303c;
    ul {
        list-style-type: none;
        background-color: red;
        margin: 0;
        padding: 0;
        width: 40%;
        background-color: #646677;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        .li-estilo {
            display: inline-block;
            padding: 8px 16px;
            text-decoration: none;
            &:hover {
                background-color: #44525f;
            }
            &::after {
                content: "";
                background-color: white;
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                transform: translateX(5px);
                box-shadow: 5px 5px 0px 0px #289fed, 1px 10px 0px 0px #5fb8ff;

                color: #44525f;
            }
            .link-estilo {
                font-weight: 900;
                outline: none;
                text-decoration: none;
                font-size: 20px;

                &:visited {
                    color: white;
                }
            }
        }
    }
    li {
        height: 40px;
        text-align: center;
        font-size: 18px;
        list-style: none;
        padding: 20px;
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

.form-registro {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;

    box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff, 15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
        25px 25px 0px 0px #e1eeff, 12px 9px 15px 12px rgba(0, 0, 0, 0);

    .titulo-formulario {
        color: white;
        font-size: 22px;
        margin-bottom: 20px;
        &::after {
            content: "";
            background-color: white;
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            transform: translateX(5px);
            box-shadow: 5px 5px 0px 0px #289fed, 1px 10px 0px 0px #5fb8ff, 5px 5px 0px 0px #289fed;

            color: #44525f;
        }
    }
   
    .input-estilo {
        width: 100%;
        background-color: #24303c;
        padding: 15px;
        margin-bottom: 16px;
        border: 1px solid #3680ca;
        font-family: "calibri";
        font-size: 18px;
        color: white;
        font-weight: 900px;
        border-radius: 20px;
        outline: none;
        font-weight: 800;
     
    }
    .btn {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16 0;
        font-size: 16px;
        font-weight: 900;
    }
}

